body {
    background-color: bisque;
    color: black;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: maroon;
    color: bisque;
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Trebuchet MS';
}
footer {
    background-color: maroon;
    color: bisque;
    border-radius: 5px;
    margin: 0px;
    padding: 20px;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    font-size: 16pt;
    font-family: 'Trebuchet MS';
}
main {
    background-color: bisque;
    color: black;
    margin: 0px;
    padding: 20px;
    font-size: 14pt;
    font-family: 'Trebuchet MS';
}
a {
    text-decoration: none;
}